body {background-color:#000000}
#cent {text-align:center;}
#let {text-align:left;}
#rht {text-align:right;}
#just {text-align:justify;} 
#TL {text-align:center; color: #ff6a7f}
#pink {color:#ffb6df}
#cya {color:#00ffff} 
#why {color:#ffffff} 
